extends ../layout.jade

block contenido
	-if (user.userType === 'Admin')
		include ./session_permission/adminActions.jade
	-else if (user.userType === 'Benefactor')
		include ./session_permission/benefactorActions.jade
	-else if (user.userType === 'Beneficiary')
		include ./session_permission/beneficiaryActions.jade
	-else
		include ./session_permission/benefactorActions.jade

	main
		div(class="container mx-auto col-xs-12 col-sm-6 top-space text-center")
			div(class="btn-group-vertical default")
				a(href="/session/documentos/new" class="btn btn-default btn-outline-dark btn-lg") Nuevo Agendamiento
				a(href="/session/documentos" class="btn btn-default btn-outline-dark btn-lg") Mis Agendamientos